<div class="tabVerContent" id="GachaLog">
  <div class="addDataGacha" id="GachaDataAdd">
    <label for="nName"><b>Username:</b></label
    ><br />
    <input
      type="text"
      placeholder="Enter Username"
      name="nName"
      id="nName"
    /><br />
    <label for="gachatime">Time of Gacha (date and time):</label>
    <input type="date" id="gachatime" name="gachaDate" min="2022-01-01" /><br />
    <label for="crystalsUsed"><b>Crystals Used</b></label>
    <input
      type="text"
      placeholder="e.g 3000"
      name="crystalsUsed"
      id="crystalsUsed"
      required
    /><br />
    <div id="characterAdderSeg">
      <label for="characterList">SSR Character(s) obtained:</label>
      <select id="characterList" name="characterList" size="1" #chars (change)="getCharIndex(chars.value)">
        <option
          *ngFor="let c of characterData.character"
          [ngValue]="c"
        >
          {{ c.name }}
        </option>
      </select>
      <button id="characterObtained" (click)="addCharacterToWall(chars.value)" >
        Add Character
      </button>
      <div id="characterWall"></div>
    </div>
  </div>
</div>
